<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Notes Organizer</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

<header class="header">

    <div class="container">

        <div class="logo">
            <a href="{% url 'main' %}">
                <i class="fas fa-graduation-cap"></i>
                Academic Notes
            </a>
        </div>

        <nav>

            <ul class="menu">

                {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'courses' %}">
                        <i class="fas fa-book"></i>
                        Courses
                    </a>
                </li>

                <li>
                    <a href="{% url 'note_list' %}">
                        <i class="fas fa-sticky-note"></i>
                        Notes
                    </a>
                </li>

                <li>
                    <a href="{% url 'course_create' %}">
                        <i class="fas fa-plus-circle"></i>
                        New Course
                    </a>
                </li>

                <li class="username">
                    <i class="fas fa-user-circle"></i>
                    {{ user.username }}
                </li>

                <li>

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="logout-btn" type="submit">
                            Logout
                        </button>
                    </form>

                </li>

                {% else %}

                <li>
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>

                <li>
                    <a href="{% url 'login' %}">
                        Register
                    </a>
                </li>

                {% endif %}

            </ul>

        </nav>

    </div>

</header>


<main class="main">

<div class="container">

{% if messages %}

    {% for message in messages %}

    <div class="alert {{ message.tags }}">
        {{ message }}
    </div>

    {% endfor %}

{% endif %}

{% block content %}

{% endblock %}

</div>

</main>


<footer class="footer">

<div class="container footer-content">

<div>

<h3>Academic Notes Organizer</h3>

<p>University Project</p>

<p>Mostafa Sadremomtaz</p>

</div>

<div>

<p>Made For Prof.Tabatabaei</p>

</div>

</div>

</footer>

{% block extra_js %}
{% endblock %}

</body>
</html>